body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 136, 136);
  font-family: "Tahoma", Geneva, sans-serif;
}

.navi {
  margin: 0;
  padding: 0;
}

.navi ul {
  background-color: rgb(255, 231, 190);
  margin: 0;
  padding-right: 50px;
  border: 3px solid rgb(225, 201, 160);
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

.navi li {
  background-color: rgb(255, 231, 190);
  display: inline;
  margin: 0;
  padding-right: 50px;
}

.squirtle {
  background-color: rgb(255, 192, 154);
  font-family: 'Comic Sans', sans-serif;
  font-size: 20px;
  position: relative;
  right: -20px;
  left: 0px;
}

.murkrow {
  background-color: rgb(255, 231, 190);
  font-family: 'Comic Sans', sans-serif;
  font-size: 20px;
  position: relative;
  left: 20px;
  right: 0px;
}

.cherubi {
  background-color: rgb(163, 212, 255);
  font-family: 'Comic Sans', sans-serif;
  font-size: 20px;
  position: relative;
  right: -20px;
  left: 0px;
}

.sobble {
  background-color: rgb(127, 200, 255);
  font-family: 'Comic Sans', sans-serif;
  font-size: 20px;
  position: relative;
  left: 20px;
  right: 0px;
}

.gallery {
  background-color: rgb(253, 226, 231);
  font-family: 'Marck Script', cursive;
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom: 0px;
  margin-bottom: 0;
}

.gallery H1{
  background-color: rgb(253, 226, 231);
  font-family: 'Marck Script', cursive;
  font-size: 50px;
  position: relative;
}